@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Itim&display=swap')
@theme {
  --color-primary: #ffb959;
  --color-secondary: #fff5e7;
  --color-outline: #7a5673;
  --font-sans: 'Poppins', sans-serif;
  --font-serif: 'Itim', serif;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
